<div>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#/dashboard/{{username}}">Gym Journal</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
		<li class="active pull-right"><a href="#">Home</a></li>
		<li><a class="pull-right" href="#contact">{{username}}</a></li>
	  </ul>
	</div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
<br></br>
<div class="list-group">
	<div class="sidebar-offcanvas" id="sidebar">
				<a href="#/abs" class="list-group-item"><!--image src="../builds/images/abs.png" style="width:20px;height:20px"></image--> Abdominals</a>
				<a href="#/arms" class="list-group-item">Arms</a>
				<a href="#/back" class="list-group-item">Back</a>
				<a href="#/chest" class="list-group-item">Chest</a>
				<a href="#/legs" class="list-group-item">Legs</a>
				<a href="#/shoulders" class="list-group-item">Shoulders</a>
				<a href="#/muslce-view" class="list-group-item">Exercises by muscle</a>
				<a href="#/all" class="list-group-item">Exercises by equipment / all exercises</a>
				<br></br>
				<a href="#" class="list-group-item">Add/Edit Custom Exercises</a>
			  </div>
	</div><!--/.sidebar-offcanvas-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



<!--script src="offcanvas.js"></script-->
